{{> menu}}

<section class="section">
  <div class="title">
    {{theme.name}}/{{place.name}}
  </div>
  <form class="box"  action="/theme/{{theme._id}}/update/{{place._id}}" method="POST">
    <label>Update Place Details:</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" name="name" placeholder="Enter Name" value="{{place.name}}">
        </div>
        <div class="field">
          <input class="input" type="text" name="lon" placeholder="Enter Longitude" value="{{place.lon}}">
        </div>
        <div class="field">
          <input class="input" type="text" name="lat" placeholder="Enter Latitude" value="{{place.lat}}">
        </div>
        <div class="field">
          <input class="input" type="text" name="desc" placeholder="Enter Description" value="{{place.desc}}">
        </div>
      </div>
    </div>
    <button class="button is-primary">Update Place</button>
  </form>
</section>