<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Description</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each theme.places}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{lon}}
        </td>
        <td>
          {{lat}}
        </td>
        <td>
          {{desc}}
        </td>
        <td>
          <a href="/theme/{{../theme._id}}/update/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/theme/{{../theme._id}}/delete/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>